@model IEnumerable<Events.Model.Statistics.MatchStatistic>

@{
    ViewBag.Title = "EventStats";
}

<h2>EventStats</h2>
<h4>MatchStatistic</h4>
<div class="table-condensed">
    <table>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Event.Title)</th>
            <th>@Html.DisplayName("Home team")</th>
            <th>@Html.DisplayName("Guest team")</th>
            <th>@Html.DisplayName("Time of match")</th>
            <th>@Html.DisplayName("Home team score")</th>
            <th>@Html.DisplayName("Guest team score")</th>
        </tr>
        @foreach (var match in Model)
        {
           <tr>
               
                <td>
                    @Html.Label(match.Event.Title)
                </td>

                <td>
                    @Html.Label(match.GuestTeam.Name)
                </td> 

                <td>
                    @Html.Label(match.HomeTeam.Name)
                </td>

                <td>
                    @Html.Label(match.TimeOfMatch.ToShortDateString())
                </td>
                <td>
                    @Html.Label(match.HomeTeamResult.ToString())
                </td>

                <td>
                    @Html.Label(match.GuestTeamResult.ToString())
                </td>

            </tr>
        }
        </table>
</div>
@*<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
