@model IEnumerable<Events.Model.Statistics.MatchStatistic>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Event.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GuestTeam.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HomeTeam.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeOfMatch)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HomeTeamResult)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GuestTeamResult)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Event.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GuestTeam.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HomeTeam.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeOfMatch)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HomeTeamResult)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GuestTeamResult)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MatchStatisticId }) |
            @Html.ActionLink("Details", "Details", new { id=item.MatchStatisticId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MatchStatisticId })
        </td>
    </tr>
}

</table>
